@import "/src/variables.scss";

.container{
    background-image: url(~src/assets/images/bg-pattern-bottom-desktop.svg), url(~src/assets/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-color: #fcfcfc;
    background-size: 78%, 38%;
    background-position: bottom right, top left;
    height: 100vh;
    overflow: hidden;
}
.social-proof-section{
    padding: 130px 165px;
    display: grid;
    max-width: 1440px;
    margin: auto;
    grid-template-areas: "title rates"
                         "testimonials testimonials";

    .title{
        max-width: 450px;
        grid-area: title;
        
        h1{
            color: $veryDarkColor;
            font-size: 44px;
            margin: 0px;
            line-height: 1;
        }

        p{
            color: #937b92;
            line-height: 1.7;
        }
    }
    .rates{
        grid-area: rates;
    }
    .testimonial{
        grid-area: testimonials;
        display: flex;
        width: 100%;
        margin-top: 55px;
        justify-content: space-between;
        
        .testimonial-card-0{
            margin-right: auto;
        }

        .testimonial-card-1{
            margin: 0 auto;
        }
        .testimonial-card-2{
            margin-left: auto;
        }
    }
}

@media (max-width: 1439px){
    .social-proof-section{
        padding: 130px 40.25px;
    }

    .testimonial{
        grid-area: testimonials;
        display: flex;
        width: 100%;
        margin-top: 55px;
        justify-content: space-between;
        .testimonial-card-1{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


@media (max-width: 1000px){
    .container{
        overflow-y: auto;
        background-size: 88%;

        background-image: url(~src/assets/images/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat;
        background-color: #fcfcfc;
        background-size: 38%;
        background-position: top left;

        .social-proof-section{
            padding: 60px 40.25px;
            grid-template-areas: "title"
                                "rates"
                                "testimonials";
            max-width: 345px;

            .rates{
                margin-top: 5px;
            }
            .title{
                margin: auto;
                width: auto;
                text-align: center;
                h1{
                    font-size: 42px;
                }
            }
            .testimonial{
                display: block;
                margin-top: 9px;
            }
        }
    }
}

@media (max-width: 420px){
    .social-proof-section{
        padding: 60px 20px;
    }
}